/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@br-link-arrow-b-h-name: 'br-link-arrow-b-h';
@br-link-arrow-b-h-x: 44px;
@br-link-arrow-b-h-y: 0px;
@br-link-arrow-b-h-offset-x: -44px;
@br-link-arrow-b-h-offset-y: 0px;
@br-link-arrow-b-h-width: 11px;
@br-link-arrow-b-h-height: 15px;
@br-link-arrow-b-h-total-width: 55px;
@br-link-arrow-b-h-total-height: 46px;
@br-link-arrow-b-h-image: '../images/spritesheet.png';
@br-link-arrow-b-h: 44px 0px -44px 0px 11px 15px 55px 46px '../images/spritesheet.png' 'br-link-arrow-b-h';
@br-link-arrow-b-name: 'br-link-arrow-b';
@br-link-arrow-b-x: 44px;
@br-link-arrow-b-y: 15px;
@br-link-arrow-b-offset-x: -44px;
@br-link-arrow-b-offset-y: -15px;
@br-link-arrow-b-width: 11px;
@br-link-arrow-b-height: 15px;
@br-link-arrow-b-total-width: 55px;
@br-link-arrow-b-total-height: 46px;
@br-link-arrow-b-image: '../images/spritesheet.png';
@br-link-arrow-b: 44px 15px -44px -15px 11px 15px 55px 46px '../images/spritesheet.png' 'br-link-arrow-b';
@br-link-arrow-bl-h-name: 'br-link-arrow-bl-h';
@br-link-arrow-bl-h-x: 0px;
@br-link-arrow-bl-h-y: 31px;
@br-link-arrow-bl-h-offset-x: 0px;
@br-link-arrow-bl-h-offset-y: -31px;
@br-link-arrow-bl-h-width: 11px;
@br-link-arrow-bl-h-height: 15px;
@br-link-arrow-bl-h-total-width: 55px;
@br-link-arrow-bl-h-total-height: 46px;
@br-link-arrow-bl-h-image: '../images/spritesheet.png';
@br-link-arrow-bl-h: 0px 31px 0px -31px 11px 15px 55px 46px '../images/spritesheet.png' 'br-link-arrow-bl-h';
@br-link-arrow-bl-name: 'br-link-arrow-bl';
@br-link-arrow-bl-x: 11px;
@br-link-arrow-bl-y: 31px;
@br-link-arrow-bl-offset-x: -11px;
@br-link-arrow-bl-offset-y: -31px;
@br-link-arrow-bl-width: 11px;
@br-link-arrow-bl-height: 15px;
@br-link-arrow-bl-total-width: 55px;
@br-link-arrow-bl-total-height: 46px;
@br-link-arrow-bl-image: '../images/spritesheet.png';
@br-link-arrow-bl: 11px 31px -11px -31px 11px 15px 55px 46px '../images/spritesheet.png' 'br-link-arrow-bl';
@left-slide-name: 'left-slide';
@left-slide-x: 0px;
@left-slide-y: 0px;
@left-slide-offset-x: 0px;
@left-slide-offset-y: 0px;
@left-slide-width: 22px;
@left-slide-height: 31px;
@left-slide-total-width: 55px;
@left-slide-total-height: 46px;
@left-slide-image: '../images/spritesheet.png';
@left-slide: 0px 0px 0px 0px 22px 31px 55px 46px '../images/spritesheet.png' 'left-slide';
@link-arrow-h-name: 'link-arrow-h';
@link-arrow-h-x: 22px;
@link-arrow-h-y: 31px;
@link-arrow-h-offset-x: -22px;
@link-arrow-h-offset-y: -31px;
@link-arrow-h-width: 8px;
@link-arrow-h-height: 12px;
@link-arrow-h-total-width: 55px;
@link-arrow-h-total-height: 46px;
@link-arrow-h-image: '../images/spritesheet.png';
@link-arrow-h: 22px 31px -22px -31px 8px 12px 55px 46px '../images/spritesheet.png' 'link-arrow-h';
@link-arrow-name: 'link-arrow';
@link-arrow-x: 30px;
@link-arrow-y: 31px;
@link-arrow-offset-x: -30px;
@link-arrow-offset-y: -31px;
@link-arrow-width: 8px;
@link-arrow-height: 12px;
@link-arrow-total-width: 55px;
@link-arrow-total-height: 46px;
@link-arrow-image: '../images/spritesheet.png';
@link-arrow: 30px 31px -30px -31px 8px 12px 55px 46px '../images/spritesheet.png' 'link-arrow';
@right-slide-name: 'right-slide';
@right-slide-x: 22px;
@right-slide-y: 0px;
@right-slide-offset-x: -22px;
@right-slide-offset-y: 0px;
@right-slide-width: 22px;
@right-slide-height: 31px;
@right-slide-total-width: 55px;
@right-slide-total-height: 46px;
@right-slide-image: '../images/spritesheet.png';
@right-slide: 22px 0px -22px 0px 22px 31px 55px 46px '../images/spritesheet.png' 'right-slide';
@spritesheet-width: 55px;
@spritesheet-height: 46px;
@spritesheet-image: '../images/spritesheet.png';
@spritesheet-sprites: @br-link-arrow-b-h @br-link-arrow-b @br-link-arrow-bl-h @br-link-arrow-bl @left-slide @link-arrow-h @link-arrow @right-slide;
@spritesheet: 55px 46px '../images/spritesheet.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
