/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@br-link-arrow-b-h-name: 'br-link-arrow-b-h';
@br-link-arrow-b-h-x: 78px;
@br-link-arrow-b-h-y: 31px;
@br-link-arrow-b-h-offset-x: -78px;
@br-link-arrow-b-h-offset-y: -31px;
@br-link-arrow-b-h-width: 11px;
@br-link-arrow-b-h-height: 15px;
@br-link-arrow-b-h-total-width: 100px;
@br-link-arrow-b-h-total-height: 79px;
@br-link-arrow-b-h-image: '../images/spritesheet.png';
@br-link-arrow-b-h: 78px 31px -78px -31px 11px 15px 100px 79px '../images/spritesheet.png' 'br-link-arrow-b-h';
@br-link-arrow-b-name: 'br-link-arrow-b';
@br-link-arrow-b-x: 67px;
@br-link-arrow-b-y: 31px;
@br-link-arrow-b-offset-x: -67px;
@br-link-arrow-b-offset-y: -31px;
@br-link-arrow-b-width: 11px;
@br-link-arrow-b-height: 15px;
@br-link-arrow-b-total-width: 100px;
@br-link-arrow-b-total-height: 79px;
@br-link-arrow-b-image: '../images/spritesheet.png';
@br-link-arrow-b: 67px 31px -67px -31px 11px 15px 100px 79px '../images/spritesheet.png' 'br-link-arrow-b';
@br-link-arrow-bl-h-name: 'br-link-arrow-bl-h';
@br-link-arrow-bl-h-x: 89px;
@br-link-arrow-bl-h-y: 31px;
@br-link-arrow-bl-h-offset-x: -89px;
@br-link-arrow-bl-h-offset-y: -31px;
@br-link-arrow-bl-h-width: 11px;
@br-link-arrow-bl-h-height: 15px;
@br-link-arrow-bl-h-total-width: 100px;
@br-link-arrow-bl-h-total-height: 79px;
@br-link-arrow-bl-h-image: '../images/spritesheet.png';
@br-link-arrow-bl-h: 89px 31px -89px -31px 11px 15px 100px 79px '../images/spritesheet.png' 'br-link-arrow-bl-h';
@br-link-arrow-bl-name: 'br-link-arrow-bl';
@br-link-arrow-bl-x: 56px;
@br-link-arrow-bl-y: 31px;
@br-link-arrow-bl-offset-x: -56px;
@br-link-arrow-bl-offset-y: -31px;
@br-link-arrow-bl-width: 11px;
@br-link-arrow-bl-height: 15px;
@br-link-arrow-bl-total-width: 100px;
@br-link-arrow-bl-total-height: 79px;
@br-link-arrow-bl-image: '../images/spritesheet.png';
@br-link-arrow-bl: 56px 31px -56px -31px 11px 15px 100px 79px '../images/spritesheet.png' 'br-link-arrow-bl';
@left-slide-b-h-name: 'left-slide-b-h';
@left-slide-b-h-x: 56px;
@left-slide-b-h-y: 0px;
@left-slide-b-h-offset-x: -56px;
@left-slide-b-h-offset-y: 0px;
@left-slide-b-h-width: 22px;
@left-slide-b-h-height: 31px;
@left-slide-b-h-total-width: 100px;
@left-slide-b-h-total-height: 79px;
@left-slide-b-h-image: '../images/spritesheet.png';
@left-slide-b-h: 56px 0px -56px 0px 22px 31px 100px 79px '../images/spritesheet.png' 'left-slide-b-h';
@left-slide-b-name: 'left-slide-b';
@left-slide-b-x: 78px;
@left-slide-b-y: 0px;
@left-slide-b-offset-x: -78px;
@left-slide-b-offset-y: 0px;
@left-slide-b-width: 22px;
@left-slide-b-height: 31px;
@left-slide-b-total-width: 100px;
@left-slide-b-total-height: 79px;
@left-slide-b-image: '../images/spritesheet.png';
@left-slide-b: 78px 0px -78px 0px 22px 31px 100px 79px '../images/spritesheet.png' 'left-slide-b';
@left-slide-name: 'left-slide';
@left-slide-x: 0px;
@left-slide-y: 48px;
@left-slide-offset-x: 0px;
@left-slide-offset-y: -48px;
@left-slide-width: 22px;
@left-slide-height: 31px;
@left-slide-total-width: 100px;
@left-slide-total-height: 79px;
@left-slide-image: '../images/spritesheet.png';
@left-slide: 0px 48px 0px -48px 22px 31px 100px 79px '../images/spritesheet.png' 'left-slide';
@link-arrow-h-name: 'link-arrow-h';
@link-arrow-h-x: 88px;
@link-arrow-h-y: 60px;
@link-arrow-h-offset-x: -88px;
@link-arrow-h-offset-y: -60px;
@link-arrow-h-width: 8px;
@link-arrow-h-height: 12px;
@link-arrow-h-total-width: 100px;
@link-arrow-h-total-height: 79px;
@link-arrow-h-image: '../images/spritesheet.png';
@link-arrow-h: 88px 60px -88px -60px 8px 12px 100px 79px '../images/spritesheet.png' 'link-arrow-h';
@link-arrow-name: 'link-arrow';
@link-arrow-x: 88px;
@link-arrow-y: 48px;
@link-arrow-offset-x: -88px;
@link-arrow-offset-y: -48px;
@link-arrow-width: 8px;
@link-arrow-height: 12px;
@link-arrow-total-width: 100px;
@link-arrow-total-height: 79px;
@link-arrow-image: '../images/spritesheet.png';
@link-arrow: 88px 48px -88px -48px 8px 12px 100px 79px '../images/spritesheet.png' 'link-arrow';
@right-slide-b-h-name: 'right-slide-b-h';
@right-slide-b-h-x: 22px;
@right-slide-b-h-y: 48px;
@right-slide-b-h-offset-x: -22px;
@right-slide-b-h-offset-y: -48px;
@right-slide-b-h-width: 22px;
@right-slide-b-h-height: 31px;
@right-slide-b-h-total-width: 100px;
@right-slide-b-h-total-height: 79px;
@right-slide-b-h-image: '../images/spritesheet.png';
@right-slide-b-h: 22px 48px -22px -48px 22px 31px 100px 79px '../images/spritesheet.png' 'right-slide-b-h';
@right-slide-b-name: 'right-slide-b';
@right-slide-b-x: 44px;
@right-slide-b-y: 48px;
@right-slide-b-offset-x: -44px;
@right-slide-b-offset-y: -48px;
@right-slide-b-width: 22px;
@right-slide-b-height: 31px;
@right-slide-b-total-width: 100px;
@right-slide-b-total-height: 79px;
@right-slide-b-image: '../images/spritesheet.png';
@right-slide-b: 44px 48px -44px -48px 22px 31px 100px 79px '../images/spritesheet.png' 'right-slide-b';
@right-slide-name: 'right-slide';
@right-slide-x: 66px;
@right-slide-y: 48px;
@right-slide-offset-x: -66px;
@right-slide-offset-y: -48px;
@right-slide-width: 22px;
@right-slide-height: 31px;
@right-slide-total-width: 100px;
@right-slide-total-height: 79px;
@right-slide-image: '../images/spritesheet.png';
@right-slide: 66px 48px -66px -48px 22px 31px 100px 79px '../images/spritesheet.png' 'right-slide';
@scroll-h-name: 'scroll-h';
@scroll-h-x: 0px;
@scroll-h-y: 24px;
@scroll-h-offset-x: 0px;
@scroll-h-offset-y: -24px;
@scroll-h-width: 56px;
@scroll-h-height: 24px;
@scroll-h-total-width: 100px;
@scroll-h-total-height: 79px;
@scroll-h-image: '../images/spritesheet.png';
@scroll-h: 0px 24px 0px -24px 56px 24px 100px 79px '../images/spritesheet.png' 'scroll-h';
@scroll-name: 'scroll';
@scroll-x: 0px;
@scroll-y: 0px;
@scroll-offset-x: 0px;
@scroll-offset-y: 0px;
@scroll-width: 56px;
@scroll-height: 24px;
@scroll-total-width: 100px;
@scroll-total-height: 79px;
@scroll-image: '../images/spritesheet.png';
@scroll: 0px 0px 0px 0px 56px 24px 100px 79px '../images/spritesheet.png' 'scroll';
@spritesheet-width: 100px;
@spritesheet-height: 79px;
@spritesheet-image: '../images/spritesheet.png';
@spritesheet-sprites: @br-link-arrow-b-h @br-link-arrow-b @br-link-arrow-bl-h @br-link-arrow-bl @left-slide-b-h @left-slide-b @left-slide @link-arrow-h @link-arrow @right-slide-b-h @right-slide-b @right-slide @scroll-h @scroll;
@spritesheet: 100px 79px '../images/spritesheet.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
