@import "_spritesheet.less" ;
@import "core/fonts.less" ;
@import "core/variables.less" ;
@import "core/mixins.less" ;
@import "core/base.less" ;
@import "core/actus.less" ;
@import "core/clients.less" ;
@import "core/animations.less" ;

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,body{
    height: 100% !important;
}

@media only screen and (max-width : 991px) {
    #footer-link{
        padding-left: 50px;
        padding-right: 50px;
    }
}
    
@media only screen and (max-width : 767px) {
    #shifter-part{
        .block-shifter {
            height: auto !important;
        } 
    }

    .navbar{
        .navbar-header{
            button{
                margin-top: 25px;
                border: none;
                background-color: @bleu;
                &:hover,&:active,&:focus{
                    background: @bleu;
                    .icon-bar{
                        background: white;
                    }
                }
                &.collapsed{
                    background: white;
                    .icon-bar{
                        background: @bleu;
                    }
                    /*&:hover,&:active{
                    background: white;
                }*/
                }
                .icon-bar{
                    width: 37px;
                    height: 5px;
                    border-radius: 5px;
                    background: white;
                    margin-top: 6px;
                }
                .sr-only+.icon-bar{
                    margin-top: 0;
                }
            }
        }
        #navbar{
            ul{
                padding-top: 0;
                li{
                    margin-bottom: 10px;
                    &:first-child{
                        margin-top: 5px;
                    }
                    &.active a{
                        background: @rose;
                    }
                    a{
                        background-color: @bleu;
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border-radius: 5px;
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    #contact-part .contact-wrapper .mail-contact{
        font-size: 22px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    @import "core/tablette";	
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {

}

/* Responsive: desktop and up */
@media screen and (min-width: 1200px) {
    @import "core/desktop";

}
