.sect-wrap{
	padding-top: 45px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	&.rose{
		.titre-part{
			a{
				color : @rose;
				&:hover{
					color: @bleu-shifter;
				}
			}
			p{
				color : @bleu-shifter;
			}
		}
	}
	&.bleu-ciel{
		.titre-part{
			a{
				color : @bleu-clair;
				&:hover{
					color: @blanc;
				}
			}
			p{
				color : @blanc;
			}
		}
	}
	.titre-part{
		text-align: center;
		a{
			text-transform: uppercase;
			font-size: 32px;
			margin-top: 0;
			margin-bottom: 5px;
			text-decoration: none;
		}
		p{
			font-size: 18px;
			line-height: 22px;
		}
	}
}

.bottom-link{
	text-align: right;
	a{
		text-transform: uppercase;
		font-size: 20px;
		text-decoration: none;
		display: inline-block;
		&:after{
			content:"";
			display: inline-block;
			margin-left: 10px;
		}
		&:hover{
			color : @rose;
			&:after{
				content:"";
				display: inline-block;
			}
		}
	}
	&.bleu{
		
		a{
			color: @bleu;
			&:after{
				.sprite(@br-link-arrow-b);
			}
			
			&:hover{
				color : @rose;
				&:after{
					.sprite(@br-link-arrow-b-h);

				}
			}
		}

	}
	&.blanc{
		a{
			color: @blanc;
			&:after{
				.sprite(@br-link-arrow-bl);
			}
			
			&:hover{
				color : @bleu-clair;
				&:after{
					.sprite(@br-link-arrow-bl-h);
				}
			}
		}
	}
}

// shitter-part section
#shifter-part{
	.block-shifter{
		text-align: center;
		padding: 15px 4.1665% ;
		color: @bleu-shifter;
		h3{
			font-size: 26px;
			margin-top: 15px;
			margin-bottom: 0px;
		}
		p{
			font-size: 16px;
			line-height: 26px;
		}
		a:not(.link-offre){
			text-transform: uppercase;
			color: @rose;
			font-size: 16px;
			line-height: 1;
			display: inline-block;
			text-decoration: none;
			&:after{
				content:"";
				.sprite(@link-arrow);
				display: inline-block;
				margin-left: 7px;
			}
			
		}
		&:hover{
			a{
				color: @bleu-shifter;
				&:after{
					.sprite(@link-arrow-h);
				}
			}
			
		}

	}
}

//section nos client
#nosclient-part{
	background-color: @bleu;
	.logo-wrapper{
		clear: both;
		padding-top: 70px;
		padding-bottom: 70px;	
		overflow: hidden;
		.block-logo{
			text-align: center;
			a{
				display: inline-block;
				margin-top: 30px;
				margin-bottom: 30px;
			}	
		}		
			
	}
}